<div class="row">
    <form (submit)="save()">
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="form-control" [(ngModel)]="formUser.name">
            </div>
            <div class="col-md-8 mb-3">
                <label for="email">E-Mail</label>
                <input id="email" name="email" type="text" class="form-control" [(ngModel)]="formUser.email">
            </div>
            <div class="col-md-8 mb-3">
                <label for="telephone">Telephone</label>
                <input id="telephone" name="telephone" type="text" class="form-control" [(ngModel)]="formUser.telephone">
            </div>
        </div>
        <button name="submit" type="submit" class="btn btn-success">Save</button>
    </form>
</div>